button{
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  
}

button:hover{
  background-color: #00471b;
}

.botonClick{
background-color:blue;
}

.botonReiniciar{
background-color: blueviolet;
}